.dashboard {
  height: 100vh;
  overflow: hidden;
}

.dashboard-content {
  height: calc(100vh - 64px);
}

.recordings-sider {
  border-right: 1px solid #f0f0f0;
  overflow-y: auto;
}

.recording-content {
  display: flex;
  flex-direction: column;
  background: #fafafa;
}

.metadata-sider {
  border-left: 1px solid #f0f0f0;
  overflow-y: auto;
}
